.header {
    margin: 24px 16px 88px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: row;
}

.logo-description {
    font: var(--text-style-body);
    text-transform: var(--text-transform-body);
}

.logo-image {
    width: 24x;
    height: 24px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    cursor: pointer;
}

.navigation-icon {
    width: 24px;
    height: 24px;
}

.navigation-description {
    font: var(--text-style-body);
    text-transform: var(--text-transform-body);  
}