.header {
    padding: 24px 16px 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primary-white);
    width: 100%;
    z-index: 100;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-description {
    font: var(--text-style-body);
    text-transform: var(--text-transform-body);
    text-decoration: none;
    color: var(--primary-black);
}

.logo-image {
    width: 24px;
    height: 24px;
}

.logo-image-fill {
    display: none;
}

.logo:hover .logo-image-outline {
    display: none;
}
.logo:hover .logo-image-fill {
    display: inline;
}

.company-name {
    display: none;
}

.hamburger {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    cursor: pointer;
}

.hamburger-icon {

    width: 24px;
    height: 24px;
}

.hamburger-description {
    font: var(--text-style-body);
    text-transform: var(--text-transform-body);
}

.navigation-container {
    display: none;
}

.user-container {
    display: none;
}


@media (min-width: 1024px) {
    .header {
    padding: 32px 42px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primary-white);
    width: 100%;
    z-index: 100;
}

    .navigation-container {
        display: flex;
        gap: 42px;
    }

    .user-container {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .user-name {
        font: var(--text-style-body-desktop);
        text-transform: var(--text-transform-body-desktop);
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: none;
    }

    .company-name {
    display: flex;
    color: var(--primary-black);
    text-decoration: none;
    font: var(--text-style-body-desktop);
    text-transform: var(--text-transform-body-desktop);
}
}
