.products-featured {
  padding: 36px 16px 32px;
}

.products-featured-title {
  font: var(--text-style-body);
  text-transform: var(--text-transform-body);
  margin-bottom: 4px;
}

.products-featured-subtitle {
  font: var(--text-style-header);
  margin-bottom: 32px;
}

.products-featured-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 16px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.products-featured-list::-webkit-scrollbar {
  width: 71px;
  height: 2px;
}

.products-featured-list::-webkit-scrollbar-track {
  background: #EAEAE8;
}

.products-featured-list::-webkit-scrollbar-thumb {
  background: #1D1D1D;
}

.product-featured-card {
  margin-bottom: 24px;
}

.product-featured-image-container {
  position: relative;
}

.product-featured-image {
  background-color: #EAEAE8;
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

.product-bestseller {
  position: absolute;
  top: 16px;
  left: 16px;
  font: var(--text-style-body-desktop);
  text-transform: var(--text-transform-body-desktop);
  background-color: #D9D6B0;
  padding: 4px 12px;
  border-radius: 1000px;
}

.product-favorite-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 24px 12px 0;
}

.product-description {
  font: var(--text-style-body-large);
  margin-bottom: 12px;
}

.product-price {
  font: var(--text-style-body);
}

.products-carousel-container {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.product-arrow-right {
  position: absolute;
  top: 40%;
  right: 16px;
  cursor: pointer;
}




@media (min-width: 1024px) {

  .products-featured {
    padding: 96px 42px;
  }

  .products-featured-title {
    font: var(--text-style-body-desktop);
    text-transform: var(--text-transform-body-desktop);
    margin-bottom: 4px;
  }

  .products-featured-subtitle {
    font: var(--text-style-header);
    margin-bottom: 42px;
  }

  .products-featured-list {
    gap: 24px;

  }


  .product-featured-card {
    margin-bottom: 64px;
  }

  .product-featured-image {
    background-color: #EAEAE8;
    border-radius: 6px;
    width: 441px;
    height: 441px;
  }

  .product-description {
    font: var(--text-style-body-large-desktop);
  }

  .product-price {
    font: var(--text-style-body-desktop);
  }

  .products-carousel-container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }

  .product-arrow-right {
    right: 32px;
  }

  .arrow-icon {
    width: 72px;
    height: 72px;
  }

}