.product-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
}

.product-listing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-listing-label {
  font: var(--text-style-body);
  text-transform: var(--text-transform-body);
}

.product-listing-select {
  width: 75px;
  height: 24px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.products-list {
  margin: 0;
  padding: 32px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  gap: 12px;
}

.product-image-container {
  width: 158px;
  height: 158px;
  position: relative;
}

.product-image {
  max-width: 100%;
  height: auto;
  background-color: #EAEAE8;
}

.product-id {
  position: absolute;
  left: 8px;
  top: 8px;
  font: var(--text-style-special-product);
  text-transform: var(--text-transform-special-product);
}

.promo-banner-image {
  display: none;
}

.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.product-modal.open {
  visibility: visible;
  opacity: 1;
}

.product-modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.product-modal-content {
  margin: auto 24px;
  padding: 16px;
  min-width: 312px;
  height: 420px;
  background-color: var(--primary-grey);
  border-radius: 6px;
  position: relative;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-modal-close {
  position: absolute;
  top: 17px;
  right: 16px;
  padding: 0;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  cursor: pointer;
  align-self: flex-end;
  cursor: pointer;
  font: var(--text-style-body);
  text-transform: var(--text-transform-body);
}

.product-modal-id {
  position: absolute;
  top: 17px;
  left: 16px;
  font: var(--text-style-body);
  text-transform: var(--text-transform-body);
}

.product-modal-image {
  height: 100%;
  object-fit: cover;
}

body.modal-open {
  overflow: hidden;
}


@media (min-width: 1024px) {
  .product-listing {
    padding: 42px 28px;
  }

  .product-listing-header {
    flex-direction: row;
    gap: 24px
  }

  .product-listing-label {
    font: var(--text-style-body-desktop);
    text-transform: var(--text-transform-body-desktop);
  }

  .product-listing-select {
    width: 50px;
  }

  .promo-banner-image-mobile {
    display: none;
  }

  .promo-banner-image {
    display: flex;
    width: 906px;
  }

  .products-list {
    padding: 64px 0 0 0;
    gap: 24px;
  }

  .product-image-container {
    width: 441px;
    height: 441px;
  }

  .product-id {
    left: 32px;
    top: 32px;
    font: var(--text-style-body-desktop);
    text-transform: var(--text-transform-body-desktop);
  }

.product-modal-content {
  padding: 32px;
  width: 840px;
  height: 620px;
}

.product-modal-close {
  top: 33px;
  right: 32px;
}

.product-modal-id {
  top: 33px;
  left: 32px;
}

.product-modal-image {
  width: auto;
  height: 100%;
  object-fit: contain;
}
}