.product-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
}

.product-listing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-listing-label {
  font: var(--text-style-body);
  text-transform: var(--text-transform-body);
}

.product-listing-select {
  width: 75px;
  height: 24px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.products-list {
  margin: 0;
  padding: 32px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  gap: 12px;
}

.product-image-container {
  width: 158px;
  height: 158px;
  position: relative;
}

.product-image {
  max-width: 100%;
  height: auto;
  background-color: #EAEAE8;
}

.product-id {
  position: absolute;
  left: 8px;
  top: 8px;
  font: var(--text-style-special-product);
  text-transform: var(--text-transform-special-product);
}

.promo-banner-image {
  display: none;
}



@media (min-width: 1024px) {
  .product-listing {
    padding: 42px;
  }

  .product-listing-header {
    flex-direction: row;
    gap: 24px
  }

  .product-listing-label {
    font: var(--text-style-body-desktop);
    text-transform: var(--text-transform-body-desktop);
  }

  .product-listing-select {
    width: 50px;
  }

  .promo-banner-image-mobile {
    display: none;
  }

  .promo-banner-image {
    display: flex;
    width: 906px;
  }

  .products-list {
    padding: 64px 0 0 0;
    gap: 24px;
  }

  .product-image-container {
    width: 441px;
    height: 441px;
  }

  .product-id {
    left: 32px;
    top: 32px;
    font: var(--text-style-body-desktop);
    text-transform: var(--text-transform-body-desktop);
  }

}