@import url("normalize.css");
@import url("hero-section.css");
@import url("header.css");
@import url("product-featured-section.css");
@import url("products-list-section.css");
@import url("variables.css");

html {

  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  color: #ffffff;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: #1D1D1D;
}

