@import url("normalize.css");
@import url("hero-section.css");
@import url("header.css");
@import url("product-featured-section.css");
@import url("products-list-section.css");
@import url("navigation.css");
@import url("variables.css");

html {

  box-sizing: border-box;
  scroll-padding-top: 40px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  color: var(--primary-black);
  min-height: 100vh;
  font-family: var(--font-family-primary);
}

