:root {
     --font-family-primary: "Inter", sans-serif;

    --text-style-header: var(--font-weight-header) var(--font-size-header) / var(--line-height-header) var(--font-family-primary);
    --font-weight-header: 700;
    --font-size-header: 32px;
    --line-height-header: 120%;

    --text-style-body-large: var(--font-weight-body-large) var(--font-size-body-large) / var(--line-height-body-large) var(--font-family-primary);
    --font-weight-body-large: 600;
    --font-size-body-large: 18px;
    --line-height-body-large: 120%;

    --text-style-body: var(--font-weight-body) var(--font-size-body) / var(--line-height-body) var(--font-family-primary); 
    --font-weight-body: 500;
    --font-size-body: 16px;
    --line-height-body: 140%;
    --text-transform-body: uppercase;

    --text-style-special-product: var(--font-weight-special-product) var(--font-size-special-product) / var(--line-height-special-product) var(--font-family-primary);
    --font-weight-special-product: 500;
    --font-size-special-product: 8px;
    --line-height-special-product: 140%;
    --text-transform-special-product: uppercase;
    
    --primary-black: #1D1D1D;
    --primary-white: #FFFFFF;
    --primary-grey: #EAEAE8;
    --bestseller: #D9D6B0;
    --limited-edition: #D4B0D9;


    --text-style-header-desktop: var(--font-weight-header-desktop) var(--font-size-header-desktop) / var(--line-height-header-desktop) var(--font-family-primary); 
    --font-weight-header-desktop: 700;
    --font-size-header-desktop: 42px;
    --line-height-header-desktop: 120%;

    --text-style-body-large-desktop: var(--font-weight-body-large-desktop) var(--font-size-body-large-desktop) / var(--line-height-body-large-desktop) var(--font-family-primary);
    --font-weight-body-large-desktop: 600;
    --font-size-body-large-desktop: 20px;
    --line-height-body-large-desktop: 120%;

    --text-style-body-desktop: var(--font-weight-body-desktop) var(--font-size-body-desktop) / var(--line-height-body-desktop) var(--font-family-primary);
    --font-weight-body-desktop: 500;
    --font-size-body-desktop: 16px;
    --line-height-body-desktop: 140%;
    --text-transform-body-desktop: uppercase;


}